.header {
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}
.header > div {
    background-attachment: fixed;
    background-size: 160%;
    background-position: 0 -170px;
}
.header button {
    right: calc(15% / 2);
    bottom: 100px;
}
