.header {
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}
.header > div {
  background-attachment: fixed;
  background-size: 160%;
  background-position: 0 -170px;
}
.header button {
  right: calc(15% / 2);
  bottom: 100px;
}

.menu-header {
  background: rgba(255, 255, 255, 0);
  z-index: 1;
}

.header.open {
  position: fixed;
  z-index: 2;
  background: #fff;
}

.link {
  opacity: 0.7;
}

.link:hover {
  opacity: 1;
}

.extra {
  left: calc(15% / 2);
  z-index: 1;
}